{% extends "layout.html" %}
{% block content %}
	
	<!-- <h1>MediChain</h1>
	<p>Store your medical history reliably</p> -->
	<!-- <br> -->
	<div class="container">
		<p class="row">
			<p class="col-6">
				<img src="/static/50291895-un-médecin-tenant-vecteur-bloc-notes-médicale-design-plat-illustration-isolé-sur-fond-blanc-présenta.webp" alt="doctor-img" width="300" height="450">
			</p>
			<p class="col-6">
				
				<a href="/addreport" class="btn btn-info btn-lg active m-2" role="button" aria-pressed="true">Add Report</a>
				<a href="/viewreport" class="btn btn-info btn-lg active m-2" role="button" aria-pressed="true">View Report</a>
				
			</p>
		</p>
	</div>
	
	 

{% endblock content %}